<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<h1>Trabalho de Banco de Dados</h1>
		<ul>
			<li>
				<a href="/i">Exercício 2.b.i</a>
			</li>
			<li>
				<a href="/ii">Exercício 2.b.ii</a>
			</li>
			<li>
				<a href="/iii">Exercício 2.b.iii</a>
			</li>
			<li>
				<a href="/iv">Exercício 2.b.iv</a>
			</li>
			<li>
				<a href="/v">Exercício 2.b.v</a>
			</li>
			<li>
				<a href="/vi">Exercício 2.b.vi</a>
			</li>
		</ul>
	</body>
</html>
